* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Dancing";
    src: url("fonts/DancingScript-VariableFont_wght.ttf");
}

*:focus {
    outline: none;
}

:root {
    --bg: black;
    --primary: #fff;
    --primary-selected: #555;
}

html {
    font-family: "Roboto", sans-serif;
}

form {
    display: grid;
    row-gap: 1em;
    padding: 4em;
    padding-bottom: 1em;
    margin: 2em;
    border-radius: 2em;
    background-color: rgba(191, 255, 244, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 .5em #86868654;
    animation: blurCycle 2s infinite alternate;
    transition: all 0.3s ease;
    /* Use keyframes animation */
}

@keyframes blurCycle {
    0% {
        backdrop-filter: blur(6px);
    }

    100% {
        backdrop-filter: blur(8px);
    }
}

input,
textarea {
    padding: 0.75em;
    border: none;
    border-radius: 0.5em;
    background-color: var(--bg);
    color: var(--primary);
    font-size: 1.2rem;
    box-shadow: inset 0 0 .5em #86868654;
    transition: background-color 0.3s ease;
}

input:focus,
textarea:focus {
    background-color: var(--primary-selected);
}

textarea {
    height: 10em;
}

button {
    color: var(--primary);
    background-color: var(--bg);
    padding: 0.75em 2.5em;
    border: none;
    border-radius: 0.5em;
    font-size: 1.2em;
    cursor: pointer;
    margin: 1em auto;
    transition: all 0.3s ease;
    box-shadow: inset 0 0 .5em #86868654;

}

header {
    margin: 4em;
    text-align: center;
}

header p {
    font-size: 1.5em;
    color: var(--primary);
    font-family: "Dancing", cursive;
    font-weight: bold;
}

h1 {
    font-family: "Dancing", cursive;
    font-size: 5em;
    color: var(--primary);
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: var(--bg);
}

label {
    margin-bottom: -0.8em;
    color: var(--primary);
    font-weight: bold;
}

button:hover {
    background-color: var(--primary-selected);
    transform: scale(1.1);
}

input:user-invalid,
textarea:user-invalid {
    box-shadow: inset 0 0 .5em rgb(255, 103, 103);
}

input:user-valid,
textarea:user-valid {
    box-shadow: inset 0 0 .5em rgb(103, 255, 103);
}

@media screen and (min-width: 1200px) {

    /* Styles for big screens */
    form {
        margin-left: 20em;
        margin-right: 20em;
    }
}

.info-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
}

.error {
    text-align: right;
}

output {
    display: block;
    color: var(--primary);
    margin: 0;
    padding: 0;
    opacity: 1;
}

.fade {
    transition: all 1s ease;
    opacity: 0;
}

dark-mode {
    font-size: 3rem;
    background-color: rgba(191, 255, 244, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 .5em #86868654;
    padding: 0.2em;
    border-radius: .5em;
}

@keyframes flash {
    0% {
        background-color: red;
    }

    50% {
        background-color: white;
    }

    100% {
        background-color: red;
    }
}

input.flashing textarea.flashing {
    animation: flash 1s;
}